fastapi[standard]
uvicorn
sqlalchemy[asyncio]
jinja2
python-jose[cryptography]
pyJWT[crypto]
passlib[bcrypt]
bcrypt<4
python-dotenv
sqlmodel
aiosqlite
pydantic-settings
alembic 
asyncpg 
psycopg2-binary
boto3
aiofiles

