fastapi[standard]==0.115.0
gunicorn==21.2.0
sqlmodel
pydantic-settings
asyncpg
passlib[bcrypt]
python-jose[cryptography]
fastapi-mail
aioboto3
aiofiles
alembic
psycopg2-binary
python-multipart
redis==4.6.0
